/.idea
*.log
DEV/~$Книга1.xlsx
/env

/module_7/51.0'
/module_7/service/browsers1.json
/module_7/service/log terminal.txt
/module_7/my_allure_results/*
/module_7/service/commands.txt
/module_7/junit.xml
/module_7/service/
/module_7/my_allure_results/
/module_7/bin/
/module_6/51.0'
/module_6/service/browsers1.json
/module_6/service/log terminal.txt
/module_6/my_allure_results/*
/module_6/service/commands.txt
/module_6/junit.xml
/module_6/service/
/module_6/my_allure_results/
/module_6/allure_results/
__pycache__
allure_results
module_2